@{
    ViewBag.Title = "home";
}

<div class="jumbotron">
    <h1>Active MVC</h1>
    <p class="lead">Up and Running with ASP.NET MVC and ASP.NET Web API 2</p>
    <p><a href="www.hovermind.com" class="btn btn-primary btn-lg">Visit hovermind &raquo;</a></p>
</div>

<div class="row">

</div>